body {
    background-color: #ffffff;
}
.page-container {
    padding: 0;
}
.reporting-container {
    padding: 0;
}
.reporting-container .data-selection,
.reporting-container .fields {
    display: none;
}
.report-block-table {
    font-size: 10px;
}
.report-block-table tr td,
.report-block-table tr th {
    padding: 8px;
}
.navbar-fixed-top {
    display: none;
}
.row-fluid.reporting-header .pull-right .xs-btn {
    display: none;
}
.row-fluid.reporting-header .xs-btn.edit-title-btn {
    display: none;
}
.row-fluid.reporting-header .xs-btn.save-report {
    display: none;
}
.footer {
    display: none;
}
.footer.printing.hidden {
    display: block;
    visibility: visible;
}
table {
    page-break-inside: auto;
}
table tr {
    page-break-inside: avoid;
    page-break-after: auto;
}