
.reporting-container {
  padding: 20px;
  background-color: #ffffff;
}
.reporting-header {
  border-bottom: 1px solid #e5e5e5;
  height: 40px;
  padding-bottom: 10px;
}
.reporting-header.active {
  border: none;
}
.reporting-header h3 {
  color: #707070;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 0;
  vertical-align: top;
}
.reporting-header .report-date {
  color: #707070;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 300;
  vertical-align: middle;
}
.reporting-header .xs-btn {
  vertical-align: middle;
}
.xs-btn.pdf-btn {
  background: #ffffff url("../reporting/img/bg.button-pdf.png") center center no-repeat scroll;
}
.xs-btn.csv-btn {
  background: #ffffff url("../reporting/img/bg.button-csv.png") center center no-repeat scroll;
}
.xs-btn.edit-btn {
  background: #ffffff url("../reporting/img/bg.button-edit.png") center -1px no-repeat scroll;
  margin-right: 0;
}
.xs-btn.edit-btn.active {
  background: #D40050 url("../reporting/img/bg.button-edit.png") center -31px no-repeat scroll;
}
.xs-btn.save-report {
  background: #ffffff url("../reporting/img/bg.button-save-report.png") center -1px no-repeat scroll;
}
.data-selection {
  padding: 20px 20px 20px 20px;
}
.data-selection label {
  color: #707070;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.data-selection select[class*="span"] {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.data-selection .hidden {
  display: none;
}
.data-selection .date[readonly] {
  background-color: #ffffff;
  cursor: default;
}
.data-selection .span4 {
  margin-bottom: 20px;
}
.data-selection form {
  margin-bottom: 0;
}
.fields {
  padding: 0 20px 20px 20px;
}
.filter-fields {
  background-color: #D40050;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 20px 20px 20px 20px;
}
.filter-fields .filter-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  float: left;
  min-height: 100px;
  padding-right: 20px;
  position: relative;
  width: 33.33%;
}
.filter-fields .filter-container h5 {
  color: #314100;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}
.filter-fields .filter-container:nth-child(2n),
.filter-fields .filter-container:last-child {
  padding-left: 20px;
}
.filter-fields .filter-container:last-child {
  border-right: none;
  padding-right: 0;
}
.filter-fields .draggable-field {
  background-color: rgba(255, 255, 255, 0.5);
}
.available-fields {
  padding-right: 180px;
}
.available-fields h5 {
  color: #707070;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}
.available-fields .field-placeholder {
  border-color: #D40050;
}
.draggable-field {
  color: #314100;
  cursor: pointer;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #D40050 url("../reporting/img/bg.draggable.png") right top scroll no-repeat;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 47px 5px 16px;
  text-align: center;
  vertical-align: top;
}
.field-container.dragging .draggable-field {
  background-color: #ffffff;
  background-position: right -30px;
  border: 1px solid #D40050;
}
.field-container {
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
.field-placeholder {
  border-radius: 3px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  display: none;
  height: 28px;
  width: 30px;
}
.field-placeholder.show {
  display: inline-block;
}
.report-types-container h5 {
  color: #707070;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}
.report-types {
  list-style-type: none;
  margin: 0;
}
.report-types li {
  float: left;
}
.report-types li a {
  cursor: pointer;
  display: block;
  height: 30px;
  width: 54px;
}
.report-types li:first-child a {
  background: #d9d9d9 url("../reporting/img/bg.report-types.png") center 0 scroll no-repeat;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.report-types li:first-child a.selected {
  background: #D40050 url("../reporting/img/bg.report-types.png") center -30px scroll no-repeat;
}
.report-types li:nth-child(2n) a {
  background: #d9d9d9 url("../reporting/img/bg.report-types.png") center -60px scroll no-repeat;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.report-types li:nth-child(2n) a.selected {
  background: #D40050 url("../reporting/img/bg.report-types.png") center -90px scroll no-repeat;
}
.report-types li:last-child a {
  background: #d9d9d9 url("../reporting/img/bg.report-types.png") center -120px scroll no-repeat;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.report-types li:last-child a.selected {
  background: #D40050 url("../reporting/img/bg.report-types.png") center -150px scroll no-repeat;
}
.report-block-table {
  border-collapse: separate;
  color: #707070;
  font-size: 14px;
  margin-top: 30px;
}
.report-block-table tr:first-child th {
  background-color: #f2f2f2;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.report-block-table tr:first-child th:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.report-block-table tr:first-child th:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.report-block-table tr td {
  border-top: none;
  border-bottom: 1px dotted #cccccc;
  padding-top: 15px;
  padding-bottom: 15px;
}
.report-block-table tr:last-child td {
  border: none;
  font-weight: 600;
}
.report-block-table.report-table tr:last-child td {
  border: none;
  font-weight: normal;
}
.report-table-container {
  overflow-x: auto;
}
.report-table tr:first-child th a {
  color: #707070;
  text-decoration: none;
}
.report-table tr:first-child th a .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top: 5px solid #a6a6a6;
  display: none;
  vertical-align: middle;
}
.report-table tr:first-child th a .caret.show {
  display: inline-block;
}
.report-table tr:first-child th a .caret.asc {
  border-top: none;
  border-bottom: 5px solid #a6a6a6;
}
.report-table tr td:first-child {
  width: 100px;
}
.report-table tr td {
  width: 30px;
}
.filters-area {
  background: url("../reporting/img/bg.field-area.top.png") 0 top repeat-x, url("../reporting/img/bg.field-area.bottom.png") 0 bottom repeat-x;
  background-color: #F2F2F2;
  max-height: 0;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  -webkit-transition: max-height 0.3s ease-out;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}
.filters-area .filters-arrow {
  position: absolute;
  right: 30px;
  top: 0;
}
.xs-btn.edit-title-btn {
  background: transparent url("../reporting/img/bg.button-edit-title.png") -1px -1px no-repeat scroll;
  margin-left: 20px;
  vertical-align: middle;
}
.xs-btn.save-title-btn {
  background: #D40050 url("../reporting/img/bg.button-edit-title.png") -1px -31px no-repeat scroll;
  margin: 0;
  position: absolute;
  height: 24px;
  right: 2px;
  top: 2px;
  width: 24px;
}
.edit-title {
  margin-bottom: 10px;
  position: relative;
  width: 323px;
}
.edit-title input[type="text"] {
  border-color: #D40050;
  box-shadow: none;
  color: #707070;
  font-size: 18px;
  font-weight: 300;
  padding-right: 29px;
  width: 286px;
}
.compare-container {
  display: inline-block;
  margin: 15px 0;
}
.compare-container input[type="checkbox"] {
  margin: -2px 5px 0 0;
}
/* GRAPHS */
.axis path,
.axis line {
  fill: none;
}
.bar,
.series .bar {
  fill: #D40050;
}
.series:last-child .bar {
  fill: #b7be16;
}
.x.axis path {
  display: none;
}
/* Date picker */
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active[disabled]:hover,
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled[disabled]:hover {
  background-image: none;
  background-color: #D40050;
}
/* Multiselect */
.ui-multiselect {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #CCCCCC;
  background-color: #ffffff;
  background-image: none;
  color: #a5a5a5;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
}
.ui-multiselect span.ui-icon {
  margin-top: 8px;
  margin-right: 8px;
}
.ui-multiselect.ui-state-active {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 1px;
}
.customSelectIcon.ui-icon-triangle-1-s,
.ui-icon.ui-icon-triangle-1-s {
  background: none;
  border-top: 4px solid #000000;
  border-right: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  height: 0;
  width: 0;
}
.ui-multiselect-menu {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #ffffff;
  background-image: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}
.ui-multiselect-header {
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
}
.ui-multiselect-header .ui-helper-reset {
  border-bottom: 1px solid #e5e5e5;
  height: 50px;
  margin: 5px 0 10px 0;
}
.ui-multiselect-header .ui-helper-reset .ui-multiselect-close {
  display: none;
}
.ui-multiselect-header .ui-helper-reset li {
  display: block;
  padding: 0;
  width: 50%;
}
.ui-multiselect-header .ui-helper-reset li a {
  color: #a5a5a5;
  font-weight: 300;
  font-size: 14px;
}
.ui-multiselect-filter {
  float: none;
  margin: 0;
}
.ui-multiselect-filter input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  border-color: #eaeaea;
  color: #a5a5a5;
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin: 0;
  padding-left: 8px;
  width: 100%;
}
.ui-multiselect-checkboxes {
  background-color: transparent;
  color: #a5a5a5;
  font-size: 14px;
  padding: 0 14px;
}
.ui-multiselect-checkboxes li {
  padding: 0;
}
.ui-multiselect-checkboxes .ui-state-hover {
  border-color: #D40050;
  background-color: #ffffff;
  background-image: none;
  color: #a5a5a5;
}
.ui-multiselect-checkboxes input[type="checkbox"] {
  margin: 0 10px 0 5px;
  vertical-align: middle;
  top: 0;
}
.ui-multiselect-checkboxes span {
  font-weight: 300;
  vertical-align: middle;
}
/* Custom Select */
.custom-select-container {
  position: relative;
}
.custom-select-container select {
  left: 0;
  z-index: 2;
}
.custom-select-container .customSelect {
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #a5a5a5;
  height: 40px;
  font-weight: 300;
  margin: 0;
  padding: 9px 0 0 8px;
  position: relative;
}
.custom-select-container .customSelect .customSelectIcon {
  position: absolute;
  top: 16px;
  right: 8px;
}
