<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %-60(%msg) [%.10thread:%logger{26}] %X{akkaSource}%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>${logfile:-output.log}</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %-60(%msg) [%.10thread:%logger{26}] %X{akkaSource}%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
</configuration>