.dashboard-page {
  padding-top: 65px;
}

.dashboard-header  {
	background: transparent url("../../img/kentivo-logo-small.png") 20px 20px no-repeat scroll;
	background-size: 50px 50px;
	height: 80px;
}

.tile h1 {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fefefe;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 10px 20px;
}
.tile h1 a {
  color: #fefefe;
  display: block;
  text-decoration: none;
}
.tile .item-list {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0 20px;
}
.tile .item-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tile .item-list li a {
  background: transparent url("../dashboard/img/bg.reports.icon.small.png") 0 0 no-repeat scroll;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-size: 14px;
  padding: 12px 0 10px 25px;
  text-decoration: none;
}
.tile .item-list li a:hover {
  color: rgba(0, 0, 0, 0.6);
  background: transparent url("../dashboard/img/bg.reports.icon.small.png") 0 -44px no-repeat scroll;
}
.tile .item-list li:last-child {
  border-bottom: none;
}
.tile.blue {
  background-color: #0080bb;
}
.tile.green {
  background-color: #D40050;
}
.tile.data-stewart-tile h1 {
  background: rgba(0, 0, 0, 0.1) url("../dashboard/img/bg.reports.icon.big.png") right center no-repeat scroll;
}
