<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" packages="com.busymachines.commons.logging" shutdownHook="disable">
    <Appenders>
        <File name="FileAp" fileName="output.log" bufferedIO="false" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n %K"/>
        </File>
        <ESAppender
                name="ES"
                queueSize="1000"
                bulkSize="100"
                sleepTime="500"
                indexNamePrefix="commons">
            <ESLayout withCodeLocation="true" />
        </ESAppender>
    </Appenders>
    <Loggers>
        <logger name="com.busymachines" level="TRACE" additivity="false">
            <AppenderRef ref="ES"/>
        </logger>
          <Root level="TRACE">
            <AppenderRef ref="FileAp"/>
           </Root>
    </Loggers>
</Configuration>