<div ng-include src="templates.header.HEADER_TEMPLATE"></div>
<div ng-controller="SourcesCtrl" class="page-container container-fluid">
	<div class="sheet-container">
		<div class="row-fluid sheet-header">
			<h3>Sources</h3>
		</div>
		<div class="row-fluid">
			<button ng-click="refresh($event)"
				class="btn btn-primary btn-large xs-btn-big pull-right">Refresh</button>
			<button ng-click="newSource($event)"
				class="btn btn-primary btn-large xs-btn-big pull-right">New</button>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="table-container">
						<table class="table report-block-table report-table clickable">
							<thead>
								<tr>
									<th><a ng-click="sortTable($event)" href="#"> Source <span
											ng-class="{caret: true, show: 0 == sortIndex, asc: sortAscending}"></span>
									</a></th>
									<th><a ng-click="sortTable($event)" href="#"> <span
											ng-class="{caret: true, show: 1 == sortIndex, asc: sortAscending}"></span>
									</a></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="source in sources"
									ng-click="selectSource(source)">
									<td>{{source.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="span10">
					<!--Body content-->
					<div>
						<div class="tabbable" ng-model="currentTab">
							<div class="tab-content">
								<!-- ngRepeat: id in tabs -->
								<div class="tab-pane" title="Status" value="1">Tab Content
									1 {{source.name}}!</div>
								<div class="tab-pane" title="Schedule" value="2">
									<h5 ng-repeat="schedule in source.importSchedule">
										Import {{schedule | printSchedule }}</h5>
									<h5 ng-repeat="schedule in source.exportSchedule">
										Export {{schedule | printSchedule }}</h5>
								</div>
								<div class="tab-pane" title="Data Definition" value="3">
									<div ng-repeat="item in source.types" class="item">
										<h5>{{item.name | chooseTranslation}}</h5>
										<table>
										<tr ng-repeat="property in item.properties" class="property">
											<td class="name">{{property.name | chooseTranslation}}</td>
											<td class="type">{{property.type }}</td>
											<td class="attr">{{property.mandatory && "" || "optional"}}</td>
											<td class="attr">{{property.multiValue && "multi-value" || ""}}</td>
											<td class="attr">{{property.multiLingual && "multi-lingual" || "" }}</td>
										</tr>
										</table>
									</div>
								</div>
								<div class="tab-pane" title="Rules" value="4">Tab Content
									33!</div>
								<div class="tab-pane" title="Edit" value="5">
									<textarea style="width: 400px" cols="180" rows="30">{{jsonSource()}}</textarea>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include src="templates.footer.FOOTER_TEMPLATE"></div>
</div>