.hidden {
    display: none;
}
/* Header */
.search-container {
    width: 320px;
}
.nav-container {
    margin-top: 20px;
}
.sub-header {
    background-color: #F5F5F5;
}
.page-controls {
    margin-top: 20px;
}
.asset-nav {
    width: 100%;
}
.asset-nav li {
    width: 33.33%;
}
.asset-nav .number {
    background-color: blue;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    text-shadow: none;
    width: 20px;
    text-align: center;
}
.header-text {
    margin-top: 8px;
    font-size: 20px;
}
/* Pages */

/* Assets */
.app-page {
    height: 100%;
    padding-top: 170px;
    position: relative;
}
.asset-list-container {
    margin-top: 10px;
}
.asset-list-container .row-fluid [class*="span"] {
    margin-bottom: 10px;
}
.asset-list-container .row-fluid [class*="span"]:nth-child(2n+1) {
    margin-left: 0;
}
.asset-list-container .asset {
    background-color: #CCCCCC;
    border: 2px solid #999999;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}
.asset-list-container .asset p {
    margin-right: 25px;
}
.asset-list-container .asset .first {
    border-bottom: 1px solid #999999;
    padding-bottom: 9px;
}
.controls.controls-row .btn {
    float: left;
}
.recover-password {
    margin: 0;
}
@media (min-width: 768px) and (max-width: 979px) {
    .app-page {
        padding-top: 0;
    }
}
@media (max-width: 767px) {
    .app-page {
        padding-top: 0;
    }
}
/* Asset Detail */
.asset-detail-container {
    margin-top: 20px;
}
/* Portrait tablet to landscape and desktop */


/* Google map */

.map-filters {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    min-height: 200px;
    padding: 15px 15px 15px;
    position: absolute;
    right: 30px;
    top: 50px;
    width: 380px;
    z-index: 2;
}
.map-filters .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.geo-page-container {
    position: absolute;
    top: 111px;
    left: 0;
    right: 0;
    bottom: 0;
}
.geo-page-controls .btn {
    margin-top: 0;
}
.map-header {
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
.map-header select {
    margin-left: 40px;
}
.google-map {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}
.google-map img {
    max-width: none; /*fix for distorted controls*/
}
.location-form .control-label {
    width: 100px;
}
.location-form .controls {
    margin-left: 130px;
}
.marker-container {
    display: inline-block;
    height: 21px;
    position: relative;
    width: 32px;
}
.marker-container .new-location-marker {
    background-image: url("http://maps.google.com/mapfiles/ms/icons/red-dot.png");
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 32px;
}
@media (min-width: 768px) and (max-width: 979px) {
    .geo-page-container {
        top: 140px;
    }
}
@media (max-width: 767px) {
    .geo-page-container {
        top: 320px;
        left: -20px;
        right: -20px;
    }
    .row-fluid .input-append .search-query[class*="span"] {
        width: 380px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: relative;
    }
}

/* New Styling */
.navbar-inner {
    background: #ffffff none;
    min-height: 50px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-bottom: 1px solid #dcdcdc;
}